<!DOCTYPE html>
<html layout:decorate="~{Layout}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="scripts">
    <script type="text/javascript" src="/Scripts/cambios.js"></script>
</th:block>


<div layout:fragment="content">
    <div id="success-message" th:insert="MensajesFormulario.html :: mensajes_formulario"></div>
    <form class="validate" action="/Crear" th:attr="action=${cl_formulario_url}" th:object="${modelo}"
          method="post">
        <div>
            <div class="row d-block" id="box-proyecto">
                <div class="col-md-12 center justify-content-center">
                    <label for="projectSelect">Proyectos</label>
                    <select id="projectSelect" class="form-control">
                        <option>Seleccion una opcion</option>
                        <option th:each="proyecto : ${Proyectos}" th:text="${proyecto.nombre}"
                                th:value="${proyecto.id}"></option>
                    </select>
                </div>
            </div>

            <div class="row" id="box-compromiso">
                <div class="col-md-12 justify-content-center">
                    <label>Descripcion Compromiso</label>
                    <select id="compromisosSelect" class="form-control">
                        <option>Seleccion una opcion</option>
                    </select>
                </div>
            </div>

            <div class="row" id="box-info-cambio">
                <div class="row">
                    <div class="col-md-3">
                        <label>Codigo Cambio</label>
                        <div class="form-group">
                            <input type="text" maxLength="50" class="form-control" id="codCambio"
                                   th:field="*{codCambio}" readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Id Compromiso</label>
                        <div class="form-group">
                            <input type="text" class="form-control" id="idCompromiso" th:field="*{idCompromiso}"
                                   readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Gestor</label>
                        <select class="form-control" id="gestor" th:field="*{gestorCodEmpleado}">
                            <option value="0">Seleccione una opcion</option>
                            -->
                            <option th:each="empleado: ${Empleados}"
                                    th:text="${empleado.nombre1 + ' ' + empleado.apellido1}"
                                    th:value="${empleado.codempleado}">
                            </option>
                        </select>
                    </div>


                    <div class="col-md-3">
                        <label>ID IDRLP</label>
                        <div class="form-group">
                            <input type="text" maxLength="50" class="form-control" id="idRlp" th:field="*{idRlp}"
                                   readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Fecha TCBA</label>
                        <div class="form-group">
                            <input type="text" required class="form-control cl-date-picker" th:id="fechaTcba"
                                   th:name="fechaTcba" autocomplete="off"
                                   th:value="${modelo.fechaTcba}?${#dates.format(modelo.fechaTcba, 'dd/MM/yyyy')}:''"
                                   maxlength="10"/>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label>Fecha PAP</label>
                        <div class="form-group">
                            <input type="text" required class="form-control cl-date-picker" th:id="fechaPap"
                                   th:name="fechaPap" autocomplete="off"
                                   th:value="${modelo.fechaPap}?${#dates.format(modelo.fechaPap, 'dd/MM/yyyy')}:''"
                                   maxlength="10"/>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label>Tipo Linea</label>
                        <div class="form-group">
                            <select class="form-control" id="tipoLinea" th:field="*{tipoLinea}">
                                <option value="0">Seleccione una opcion</option>
                                <option th:each="tipo: ${tiposLinea}" th:text="${tipo.nomTipoLinea}"
                                        th:value="${tipo.id}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label>Resumen</label>
                        <div class="form-group">
                            <textarea cols="10" maxlength="1000" class="form-control" id="resumen"
                                      th:field="*{resumen}"></textarea>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label>Estado</label>
                        <div class="form-group">
                            <select class="form-control" id="estado" th:field="*{estado}">
                                <option value="0">Seleccione una opcion</option>
                                <option th:each="estadoitem: ${Estados}" th:text="${estadoitem.nomEstado}"
                                        th:value="${estadoitem.id}"></option>

                            </select>

                        </div>
                    </div>
                </div>
                <div class="row col-md-12 d-flex justify-content-center">
                    <div class="center-block">
                        <button type="submit" value="guardar" class="btn btn-info">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


</html>