.dropdown-menu > li.active, .dropdown-menu > li:active, .dropdown-menu > li:focus, .dropdown-menu > li:hover {
    background: linear-gradient(180deg, #060505 -20%, #f70000 100%); !important;
}

#accordionSidebar{
    background-image: linear-gradient(180deg,#060505 10%,#f70000 100%); !important;
}

.pcoded-navbar .pcoded-submenu {
    background: #3c1111; !important;
}

.pcoded-navbar .pcoded-inner-navbar li.active > a, .pcoded-navbar .pcoded-inner-navbar li:focus > a, .pcoded-navbar .pcoded-inner-navbar li:hover > a {
    color: #f44236; !important;
}

.pcoded-navbar .pcoded-inner-navbar li .pcoded-submenu > li.active > a:before, .pcoded-navbar .pcoded-inner-navbar li .pcoded-submenu > li:focus > a:before, .pcoded-navbar .pcoded-inner-navbar li .pcoded-submenu > li:hover > a:before {
    background: #f44236; !important;
}

.breadcrumb-item + .breadcrumb-item {
    color: #f44236; !important;
}

.card .card-header h5:after {
    background-color: #f44236; !important;
}

.pcoded-navbar .pcoded-inner-navbar > li.active:after, .pcoded-navbar .pcoded-inner-navbar > li.pcoded-trigger:after {
    background-color: #f44236; !important;
}

.disabled {
    cursor: not-allowed; !important;
    pointer-events: none; !important;
    color: grey; !important;
}

.pcoded-header .dropdown .profile-notification .pro-head {
    background: linear-gradient(180deg, #060505 -20%, #f70000 100%); !important;
}

.pcoded-header .dropdown.drp-user.show:before{
    color: #f44236; !important;
}

a:hover {
    color: #f44236; !important;
}

.cl-menu .cl-menu-activo {
    color: #f44236 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #FFFFFF !important;
    border: 1px solid #f70000 !important;
    background-color: #f70000 !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f70000), color-stop(100%, #f70000)) !important;
    background: -webkit-linear-gradient(top, #f70000 0%, #f70000 100%) !important;
    background: -moz-linear-gradient(top, #f70000 0%, #f70000 100%) !important;
    background: -ms-linear-gradient(top, #f70000 0%, #f70000 100%) !important;
    background: -o-linear-gradient(top, #f70000 0%, #f70000 100%) !important;
    background: linear-gradient(to bottom, #f70000 0%, #f70000 100%) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: linear-gradient(to bottom, #f70000 0%, #dc3545 100%) !important;
}

.gj-picker-bootstrap table tr td.selected.gj-cursor-pointer div {
    background-color: #f70000 !important;
}

.gj-picker-bootstrap .arrow-begin, .gj-picker-bootstrap [role=body] [role=arrow] {
    background-color: #f70000 !important;
}

.gj-picker-bootstrap .arrow-end {
    border: 16px solid #f70000 !important;
}