<!DOCTYPE html>
<html layout:decorate="~{Layout}">
<head>
    <title>Estimaciones</title>
    <th:block layout:fragment="estilos">
        <link href="/Estilos/checkbox.css" rel="stylesheet"/>
    </th:block>
</head>
<body>

<th:block layout:fragment="scripts">
    <script type="text/javascript" src="/Scripts/estimacion.js"></script>
</th:block>

<div layout:fragment="content">
    <div th:insert="MensajesFormulario.html :: mensajes_formulario"></div>
    <div th:if="${error != null}" class="alert alert-danger">
        <div th:text="${error}"></div>
    </div>

    <div class="card">
        <div class="bg-danger text-center">
            <h1 class="text-white">Estimaciones</h1>
        </div>
    </div>

    <div class="card-body">
        <div class="row" th:if="${datos_cargados}">
            <div class="col-12 mt-5 bg-danger">

            </div>

            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <label>Proyecto</label>
                        <select id="proyecto" class="form-control cl-select-picker"
                                th:classappend="${ estimacion == null ? '' : 'disabled'}" data-live-search="true"
                                required data-rule-min="1" data-msg-min="Debe seleccionar una opción"
                                onchange="proyecto()">
                            <option value="0">Seleccione...</option>
                            <option style="width: 80px" th:each="item : ${proyectos}" th:value="${item.id}"
                                    th:text="${item.nombre}"
                                    th:codPresupuesto="${item.codpresupuesto.elemento_pep}"
                                    th:codigoProyecto="${item.codigoproyecto}"
                                    th:selected="(${item.id} == *{codProyecto})"
                                    th:fechaInicio="${#dates.format(item.fechainicio, 'dd/MM/yyyy')}"
                                    th:fechaFin="${#dates.format(item.fechafin, 'dd/MM/yyyy')}">
                            </option>
                        </select>
                    </div>
                    <div class="col-md-9 col-sm-12 row">
                        <div class="col-lg-3 col-6">
                            <label>Código Presupuesto</label>
                            <input type="text" id="codPresupuesto" class="form-control" disabled>
                        </div>
                        <div class="col-lg-3 col-6">
                            <label>Código Proyecto</label>
                            <input type="text" id="codigoProyecto" class="form-control" disabled>
                        </div>
                        <div class="col-lg-3 col-6">
                            <label>Fecha Inicio</label>
                            <input type="text" id="fechaInicio" class="form-control" disabled>
                        </div>
                        <div class="col-lg-3 col-6">
                            <label>Fecha Fin</label>
                            <input type="text" id="fechaFin" class="form-control" disabled>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mt-3">
                <form class="row" id="FormEstimar" name="myForm" onsubmit="contenido(); return false">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Perfíl</label>
                            <select class="form-control cl-select-picker" id="perfil" data-live-search="true" required>
                                <option value="">Seleccione...</option>
                                <option style="width: 80px" th:each="item : ${costos}" th:value="${item.id}"
                                        th:text="${item.perfil}"
                                        th:selected="(${item.id} == *{codPerfil})"
                                        th:costo="${item.costo}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Cantidad</label>
                            <input type="number" name="cantidad" class="form-control" required min="1">
                        </div>
                    </div>

                    <div class="col-md-4 text-center">
                        <div class="form-group mt-4">
                            <input type="submit" id="Estimar" class="btn btn-info" value="Estimar">
                        </div>
                    </div>

                </form>
            </div>

            <div class="col-md-12" id="contenTable" th:classappend="${ estimacion == null ? 'd-none' : ''}">
                <table class="table table-sm table-responsive">
                    <thead class="text-center">
                    <tr>
                        <th scope="row">Entregable</th>
                        <th>Perfíl</th>
                        <th>Pre-Requisito</th>
                        <th>Cantidad</th>
                        <th colspan="2">Días Hábiles <br> Fecha Inicio - Fecha Fin</th>
                        <th>Costo</th>
                        <th>%</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody id="contenido">
                    <tr th:each="item : ${estimacion}" class="" th:classappend="'tr-'+${item.id}">
                        <td>
                            <input type="text" class="form-control" name="entregable" value=""
                                   th:value="${item.entregable}">
                        </td>
                        <td>
                            <select class="form-control" name="perfil" data-live-search="true" required>
                                <option value="">Seleccione...</option>
                                <option style="width: 80px" th:each="itemPer : ${costos}" th:value="${itemPer.id}"
                                        th:text="${itemPer.perfil}"
                                        th:selected="(${itemPer.id} == *{item.perfil})"
                                        th:costo="${item.costo}">
                                </option>
                            </select>
                        </td>
                        <td>
                            <input type="text" onchange="objeto()" name="preRequisito" class="form-control"
                                   th:value="${item.preRequisito}">
                        </td>
                        <td style="display: none;">
                            <input type="hidden" class="form-control" name="codProyecto" value=""
                                   th:value="${item.codProyecto}">
                        </td>
                        <td>
                            <input type="number" class="form-control" name="cantidad"
                                   th:onchange="'javascript:cantidadXcostoPerfil(' + ${item.id} + ', ' + this +');'"
                                   value="" th:value="${item.cantidad}">
                        </td>
                        <td>
                            <input type="text" onchange="objeto()" autocomplete="off" name="fechaInicio"
                                   class="form-control cl-date-picker"
                                   th:value="${#dates.format(item.fechaInicio, 'dd/MM/yyyy')}">
                        </td>
                        <td>
                            <input type="text" onchange="objeto()" autocomplete="off" name="fechaFin"
                                   class="form-control cl-date-picker"
                                   th:value="${#dates.format(item.fechaFin, 'dd/MM/yyyy')}">
                        </td>
                        <td>
                            <input type="hidden" name="costo" class="form-control" value="" th:value="${item.costo}">$
                            <spam th:text="${item.costo}"></spam>
                        </td>
                        <td class="porcentaje">
                            <input type="hidden" name="porcentaje" class="form-control" value=""
                                   th:value="${item.porcentaje}">
                            <spam th:text="${item.porcentaje}"></spam>
                            <input type="hidden" name="id" class="form-control" value="" th:value="${item.id}">
                        </td>
                        <td><a class="btn btn-danger"
                               th:onclick="'javascript:confirmarEliminarSweetAlert(' + '`/EstimacionesAdmin/Eliminar/' + ${item.id} + '`);'">Eliminar</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6">Total</td>
                        <td>
                            <spam id="totalCosto"></spam>
                        </td>
                        <td>
                            <spam id="totalPorcentaje"></spam>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8" class="text-center">
                            <a href="/EstimacionesAdmin/Filtro" class="btn btn-light">Cancelar</a>
                            <a href="#" id="btnCrear" class="btn btn-info"
                               onclick="objeto(), guardarEstimacion()">Crear</a>
                        </td>
                    </tr>
                    </tfoot>
                </table>

                <input type="hidden" name="estimaciones" id="estimaciones">

            </div>
        </div>
        <div class="row" th:if="${!datos_cargados}">
            <div class="col-md-12">
                <span><h3>No se cargaron los combos  del formulario </h3></span>
            </div>
        </div>

    </div>
</div>
</body>
</html>