<!DOCTYPE html>
<html layout:decorate="~{Layout}">
<head>
    <title>Estimaciones</title>
</head>
<body>
<th:block layout:fragment="estilos">
    <link href="/Complementos/DataTables/datatables.min.css"
          rel="stylesheet" />
</th:block>
<th:block layout:fragment="scripts">
    <script type="text/javascript"
            src="/Complementos/DataTables/datatables.min.js" rel="stylesheet"></script>
    <script type="text/javascript" src="/Scripts/cl-tablas.js"></script>
    <script type="text/javascript">
			$(function() {
				function controlarCampoDesactivado(idCampo, desactivar) {
					if (desactivar) {
						$("#" + idCampo).prop("disabled", true);
					} else {
						$("#" + idCampo).removeAttr("disabled");
					}
				};

				$("select#columnaUno").change(function() {
					controlarCampoDesactivado("valorUno", !$(this).val());
				});

				$("select#columnaDos").change(function() {
					controlarCampoDesactivado("valorDos", !$(this).val());
				});

				$("select#columnaTres").change(function() {
					controlarCampoDesactivado("valorTres", !$(this).val());
				});
			});
		</script>
</th:block>

<div layout:fragment="content">
    <form th:action="@{/Estimaciones/Crear}" th:object="${estimaciones}">
        <div class="col-12">
            <div class="form-group text-center">
                <div class="separador-30"></div>
                <input style="float:right;" type="submit" class="btn btn-success" value="Crear Estimación"/>
                <div class="separador-30"></div>
                <div class="separador-30"></div>
                <div class="separador-30"></div>
            </div>
        </div>
        <h1>Estimación:</h1>
        <div class="separador-30"></div>
    </form>

    <div th:insert="MensajesFormulario.html :: mensajes_formulario"> </div>

	<form class="validate" method="post" action="#" th:object="${estimaciones}">
		<div class="row">

			<div class="table-responsive">
				<table class="table table-bordered table-responsive">
					<tr>
						<th scope="row" style="text-align: center" bgcolor="2FBDE3">Entregable</th>
						<th style="text-align: center" bgcolor="2FBDE3">Perfíl</th>
						<th style="text-align: center" bgcolor="2FBDE3">Pre-Requisito</th>
						<!--<th style="text-align: center" bgcolor="2FBDE3">Horas/Servicio</th>-->
						<th style="text-align: center" bgcolor="2FBDE3">Cantidad</th>
						<th style="text-align: center" bgcolor="2FBDE3" colspan="2">Días Hábiles </br> Fecha Inicio - Fecha Fin</th>
						<th style="text-align: center" bgcolor="2FBDE3">Costo</th>
						<th style="text-align: center" bgcolor="2FBDE3">%</th>
					</tr>
					<tr th:each="item : ${estimaciones}">
						<th bgcolor="#EBF5FB">Estimación</th>
						<td><span th:text="${item.perfil}"></span></td>
						<td><input class="form-control" type="text" name="preRequisito"></td>
						<!--<td><span th:text="${item.preRequisito}"></span></td>-->
						<!--<td><span th:text="${item.horasEstimacion}"></span></td>-->
						<td align="center" valign="top"><span th:text="${item.cantidadServicios}"></span></td>
						<td align="center" valign="top">
							<input type="text" name="trip-start" class="form-control cl-date-picker">
						</td>
						<td align="center" valign="top">
							<input type="text" name="trip-start" class="form-control cl-date-picker">
						</td>
						<td align="right" valign="top"><span th:text="${'$' + item.costoEstimacion}"></span></td>
						<td align="center" valign="top"><span th:text="${item.porEstimacion + '%'}"></span></td>
					</tr>
					<tr th:each="item : ${estimaciones}">
						<th bgcolor="#EBF5FB">Diseño</th>
						<td><span th:text="${item.perfil}"></span></td>
						<td><input class="form-control" type="text" name="preRequisito"></td>
						<!--<td><span th:text="${item.preRequisito}"></span></td>-->
						<!--<td><span th:text="${item.horasDiseno}"></span></td>-->
						<td align="center" valign="top"><span th:text="${item.cantidadServicios}"></span></td>
						<td align="center" valign="top">
							<input type="text" name="trip-start" class="form-control cl-date-picker">
						</td>
						<td align="center" valign="top">
							<input type="text" name="trip-start" class="form-control cl-date-picker">
						</td>
						<td align="right" valign="top"><span th:text="${'$' + item.costoDiseno}"></span></td>
						<td align="center" valign="top"><span th:text="${item.porDiseno + '%'}"></span></td>
					</tr>
					<tr th:each="item : ${estimaciones}">
						<th bgcolor="#EBF5FB">Servicios</th>
						<td><span th:text="${item.perfil}"></span></td>
						<td><input class="form-control" type="text" name="preRequisito"></td>
						<!--<td><span th:text="${item.preRequisito}"></span></td>-->
						<!--<td><span th:text="${item.horasServicios}"></span></td>-->
						<td align="center" valign="top"><span th:text="${item.cantidadServicios}"></span></td>
						<td align="center" valign="top">
							<input type="text" name="trip-start" class="form-control cl-date-picker">
						</td>
						<td align="center" valign="top">
							<input type="text" name="trip-start" class="form-control cl-date-picker">
						</td>
						<td align="right" valign="top"><span th:text="${'$' + item.costoServicios}"></span></td>
						<td align="center" valign="top"><span th:text="${item.porServicios + '%'}"></span></td>
					</tr>
					<tr th:each="item : ${estimaciones}">
						<th bgcolor="#EBF5FB">Despliegue QA</th>
						<td><span th:text="${item.perfil}"></span></td>
						<td><input class="form-control" type="text" name="preRequisito"></td>
						<!--<td><span th:text="${item.preRequisito}"></span></td>-->
						<!--<td><span th:text="${item.horasDespliegueQA}"></span></td>-->
						<td align="center" valign="top"><span th:text="${item.cantidadServicios}"></span></td>
						<td align="center" valign="top">
							<input type="text" name="trip-start" class="form-control cl-date-picker">
						</td>
						<td align="center" valign="top">
							<input type="text" name="trip-start" class="form-control cl-date-picker">
						</td>
						<td align="right" valign="top"><span th:text="${'$' + item.costoDespliegueQA}"></span></td>
						<td align="center" valign="top"><span th:text="${item.porDespliegueQA + '%'}"></span></td>
					</tr>
					<tr th:each="item : ${estimaciones}">
						<th bgcolor="#EBF5FB">Documentación Arquitectura</th>
						<td><span th:text="${item.perfil}"></span></td>
						<td><input class="form-control" type="text" name="preRequisito"></td>
						<!--<td><span th:text="${item.preRequisito}"></span></td>-->
						<!--<td><span th:text="${item.horasDocuArquitectura}"></span></td>-->
						<td align="center" valign="top"><span th:text="${item.cantidadServicios}"></span></td>
						<td align="center" valign="top">
							<input type="text" name="trip-start" class="form-control cl-date-picker">
						</td>
						<td align="center" valign="top">
							<input type="text" name="trip-start" class="form-control cl-date-picker">
						</td>
						<td align="right" valign="top"><span th:text="${'$' + item.costoDocuArquitectura}"></span></td>
						<td align="center" valign="top"><span th:text="${item.porDocuArquitectura + '%'}"></span></td>
					</tr>
					<tr th:each="item : ${estimaciones}">
						<th bgcolor="#EBF5FB">Pruebas QA</th>
						<td><span th:text="${item.perfil}"></span></td>
						<td><input class="form-control" type="text" name="preRequisito"></td>
						<!--<td><span th:text="${item.preRequisito}"></span></td>-->
						<!--<td><span th:text="${item.horasPruebasQA}"></span></td>-->
						<td align="center" valign="top"><span th:text="${item.cantidadServicios}"></span></td>
						<td align="center" valign="top">
							<input type="text" name="trip-start" class="form-control cl-date-picker">
						</td>
						<td align="center" valign="top">
							<input type="text" name="trip-start" class="form-control cl-date-picker">
						</td>
						<td align="right" valign="top"><span th:text="${'$' + item.costoPruebasQA}"></span></td>
						<td align="center" valign="top"><span th:text="${item.porPruebasQA + '%'}"></span></td>
					</tr>
					<tr th:each="item : ${estimaciones}">
						<th bgcolor="#EBF5FB">Pruebas No Funcionales</th>
						<td><span th:text="${item.perfil}"></span></td>
						<td><input class="form-control" type="text" name="preRequisito"></td>
						<!--<td><span th:text="${item.preRequisito}"></span></td>-->
						<!--<td><span th:text="${item.horasPruebasNoFuncionales}"></span></td>-->
						<td align="center" valign="top"><span th:text="${item.cantidadServicios}"></span></td>
						<td align="center" valign="top">
							<input type="text" name="trip-start" class="form-control cl-date-picker">
						</td>
						<td align="center" valign="top">
							<input type="text" name="trip-start" class="form-control cl-date-picker">
						</td>
						<td align="right" valign="top"><span th:text="${'$' + item.costoPruebasNoFuncionales}"></span></td>
						<td align="center" valign="top"><span th:text="${item.porPruebasNoFuncionales + '%'}"></span></td>
					</tr>
					<tr th:each="item : ${estimaciones}">
						<th bgcolor="#EBF5FB">Validación Estandares y Documentación</th>
						<td><span th:text="${item.perfil}"></span></td>
						<td><input class="form-control" type="text" name="preRequisito"></td>
						<!--<td><span th:text="${item.preRequisito}"></span></td>-->
						<!--<td><span th:text="${item.horasValiEstandaresDocu}"></span></td>-->
						<td align="center" valign="top"><span th:text="${item.cantidadServicios}"></span></td>
						<td align="center" valign="top">
							<input type="text" name="trip-start" class="form-control cl-date-picker">
						</td>
						<td align="center" valign="top">
							<input type="text" name="trip-start" class="form-control cl-date-picker">
						</td>
						<td align="right" valign="top"><span th:text="${'$' + item.costoValiEstandaresDocu}"></span></td>
						<td align="center" valign="top"><span th:text="${item.porValiEstandaresDocu + '%'}"></span></td>
					</tr>
					<tr th:each="item : ${estimaciones}">
						<th bgcolor="#EBF5FB">Sesión con proyecto</th>
						<td><span th:text="${item.perfil}"></span></td>
						<td><input class="form-control" type="text" name="preRequisito"></td>
						<!--<td><span th:text="${item.preRequisito}"></span></td>-->
						<!--<td><span th:text="${item.horasSesionProyecto}"></span></td>-->
						<td align="center" valign="top"><span th:text="${item.cantidadServicios}"></span></td>
						<td align="center" valign="top">
							<input type="text" name="trip-start" class="form-control cl-date-picker">
						</td>
						<td align="center" valign="top">
							<input type="text" name="trip-start" class="form-control cl-date-picker">
						</td>
						<td align="right" valign="top"><span th:text="${'$' + item.costoSesionProyecto}"></span></td>
						<td align="center" valign="top"><span th:text="${item.porSesionProyecto + '%'}"></span></td>
					</tr>
					<tr th:each="item : ${estimaciones}">
						<th bgcolor="#EBF5FB">PaP's Producción</th>
						<td><span th:text="${item.perfil}"></span></td>
						<td><input class="form-control" type="text" name="preRequisito"></td>
						<!--<td><span th:text="${item.preRequisito}"></span></td>-->
						<!--<td><span th:text="${item.horasPaps}"></span></td>-->
						<td align="center" valign="top"><span th:text="${item.cantidadServicios}"></span></td>
						<td align="center" valign="top">
							<input type="text" name="trip-start" class="form-control cl-date-picker">
						</td>
						<td align="center" valign="top">
							<input type="text" name="trip-start" class="form-control cl-date-picker">
						</td>
						<td align="right" valign="top"><span th:text="${'$' + item.costoPaps}"></span></td>
						<td align="center" valign="top"><span th:text="${item.porPaps + '%'}"></span></td>
					</tr>
					<tr th:each="item : ${estimaciones}">
						<td align="right" valign="top" colspan="6" bgcolor="2FBDE3"><strong><span th:text="Total"></span></strong></td>
						<td align="right" valign="top" bgcolor="#EBF5FB"><strong><span th:text="${'$' + item.costoTotal}"></span></strong></td>
						<td align="center" valign="top"bgcolor="#EBF5FB"><strong>100%</strong></td>
					</tr>
				</table>
			</div>
		</div>

		<div class="col-12">
			<div class="form-group text-center">
				<div class="separador-30"></div>
				<input type="submit" class="btn btn-info" value="Guardar"/>
			</div>
		</div>

	</form>

</div>
</body>
</html>