<!DOCTYPE html>
<html layout:decorate="~{Layout}">
<head>
<title>Reportes Genéricos</title>
</head>
<body>
	<th:block layout:fragment="estilos">
		<link href="/Complementos/DataTables/datatables.min.css"
			rel="stylesheet" />
	</th:block>
	<th:block layout:fragment="scripts">
		<script type="text/javascript"
			src="/Complementos/DataTables/datatables.min.js"></script>
		<script type="text/javascript" src="/Scripts/cl-tablas.js"></script>

		<script type="text/javascript">
			$(function() {
				$("button.btn-descargar-reporte")
						.click(
								function(e) {
									if ($('#filtrosForm').valid()) {
										e.preventDefault();
										e.stopImmediatePropagation();
										
										var datos = $(this).parents("form")
												.serializeObject();

										let
										url = encodeURI(JSON.stringify(datos));
										window
												.open("/api/descargar?dominio="
														+ encodeURI("reportegenerico")
														+ "&q=" + url);
									}
								});
			});
		</script>
	</th:block>

	<div layout:fragment="content" class="cl-seccion-reportes">
		<form id="filtrosForm" class="validate" method="post" action="ReportesGenericos?clm=reg"
			th:object="${modelo}">
			<div class="row" th:if="${datos_cargados}">
				<div class="col-sm-3">
					<div class="form-group" name="lista">
						<label>Vista</label> <select name="vista" id="vista" th:field="*{viewName}"
							class="form-control cl-reporte-filtro"
							required>
							<option value="">Seleccione...</option>
							<option th:each="item : ${vistas}" th:value="${item.viewName}"
								th:text="${item.viewName}"></option>
						</select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label>Fecha inicio</label> <input th:field="*{fechainicio}"
							type="text" class="form-control cl-date-picker"
							autocomplete="off"
							th:value="${fechainicio}?${#dates.format(fechainicio, 'dd/MM/yyyy')}:''"
							readonly />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label>Fecha fin</label> <input th:field="*{fechafin}"
							type="text" class="form-control cl-date-picker"
							autocomplete="off"
							th:value="${fechafin}?${#dates.format(fechafin, 'dd/MM/yyyy')}:''"
							readonly />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label>Coordinación</label> <select th:field="*{codEstructura}"
							class="form-control cl-select-picker cl-reporte-filtro"
							data-live-search="true" required>
							<option value="">Todos...</option>
							<option th:each="item : ${estructuras}" th:value="${item.id}"
								th:text="${item.nombre}"></option>
						</select>
					</div>
				</div>
				<div class="col-sm-12 text-right">
					<div class="form-group">
						<div class="separador-30"></div>
						<button type="submit" class="btn btn-info">
							<i class="fas fa-search"></i> Buscar
						</button>
						<button type="submit" class="btn btn-info btn-descargar-reporte">
							<i class="fas fa-cloud-download-alt"></i> Descargar
						</button>
					</div>
				</div>
			</div>
			<div class="row" th:if="${!datos_cargados}">
				<div class="col-md-12">
					<span><h3>No se cargaron los combos  del formulario </h3></span>
				</div>
			</div>

		</form>
		<div class="separador-30"></div>
		<div class="table-responsive" th:unless="${columnasVista == null}">
			<table
				class="table table-striped table-sm table-bordered table-hover cl-tabla">
				<thead class="thead-light text-center">
					<tr>
						<th th:each="item : ${columnasVista}" th:text="${item.name}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="row : ${filasVista}">
						<td th:each="value : ${row}" th:text="${value}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>