<!DOCTYPE html>
<html layout:decorate="~{Layout}">
	<head>
		<title>Control empleado</title>
	</head>
	<body>
		<div layout:fragment="content">
		
			<div th:insert="MensajesFormulario.html :: mensajes_formulario"> </div>
		
		    <form class="validate" action="/Usuario" th:attr="action=${cl_formulario_url}" th:object="${modelo}" method="post">
		    	<div class="row">
			    	<input type="hidden" th:field="*{id}" />
			    	<input type="hidden" value="1" id="codempleado" name="codempleado" />
			    	
			    	<div class="col-md-3">
			    		<div class="form-group">
			    			<label>Proyecto</label>
			    			<select class="form-control cl-select-picker" data-live-search="true" required th:field="*{codproyecto}" data-rule-min="1" data-msg-min="Debe seleccionar una opción">
			    				<option value="0">Seleccione...</option>
			    				<option th:each="item : ${proyectos}" th:value="${item.id}" th:text="${item.nombre}"></option>
		    				</select>
			    		</div>
			    	</div>
			    	<div class="col-md-3">
			    		<div class="form-group">
			    			<label>Inicio</label>
			    			<input type="text" class="form-control cl-date-picker" required th:id="fechahorainicio" th:name="fechahorainicio" autocomplete="off" th:value="${fechahorainicio}" maxlength="10"/>
			    		</div>
			    	</div>
			    	<div class="col-md-3">
			    		<div class="form-group">
			    			<label>Fin</label>
			    			<input type="text" class="form-control cl-date-picker" required th:id="fechahorafin" th:name="fechahorafin" autocomplete="off" th:value="${fechahorainicio}" maxlength="10"/>
			    		</div>
			    	</div>
			    	<div class="col-md-3">
				    	<div class="form-group">
				    		<label>Horas</label>
				    		<input class="form-control" required type="number" step="0.01" th:field="*{horas}" maxlength="6" placeholder="999,99"/>
				    	</div>
			    	</div>
			    	<div class="col-md-12">
				    	<div class="form-group">
				    		<label>Descripción</label>
				    		<textarea class="form-control" required th:field="*{descripcion}" rows="5"></textarea>
				    	</div>
			    	</div>
			    	<div class="col-12">
			    		<div class="form-group text-center">
			    			<div class="separador-30"></div>
			    			<input type="submit" class="btn btn-info" value="Guardar"/>
			    		</div>
			    	</div>
		    	</div>
		    </form>
		</div>
	</body>
</html>