<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Gestión de recursos</title>
	
	<link href="/Complementos/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/Complementos/gijgo-combined-1.9.13/css/gijgo.min.css" rel="stylesheet" />
	<link href="/Estilos/estandar.css" rel="stylesheet" />
</head>
<body>
	<div layout:fragment="content"></div>

	<script type="text/javascript" src="/Complementos/jquery-3.5.1-dist/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/Complementos/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="/Complementos/jquery-validation-1.19.1/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/Complementos/jquery-validation-1.19.1/localization/messages_es.min.js"></script>
	
	<script type="text/javascript" src="/Complementos/gijgo-combined-1.9.13/js/gijgo.min.js"></script>
	<script type="text/javascript" src="/Complementos/gijgo-combined-1.9.13/js/messages/messages.es-es.min.js"></script>
	

	<script type="text/javascript" src="/Scripts/estandar.js"></script>
</body>
</html>