<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div class="navbar-content scroll-div">

	<ul id="cl-menu-principal" class="nav flex-column flex-nowrap overflow-hidden cl-menu pcoded-inner-navbar">
		<li class="nav-item pcoded-menu-caption">
			<label>Navigation</label>
		</li>

		<li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item" th:classappend="${ itemNav == '/' ? 'active' : '' }">
			<a class="nav-item" href="/">
				<span class="pcoded-micon"><i class="fa fa-home"></i></span><span class="pcoded-mtext">Inicio</span>
			</a>
		</li>
		<li class="nav-item pcoded-hasmenu cl-menu-group" th:classappend="${ itemNav == 'Proyecto' || itemNav == 'Presupuesto' || itemNav == 'Estructuraorganizacional' || itemNav == 'Perfil' || itemNav == 'Perfiltipo' || itemNav == 'Perfilnivel'
			|| itemNav == 'LineaProducto' || itemNav == 'Perfilcosto' || itemNav == 'Tareatipo' || itemNav == 'Tareaestado' || itemNav == 'Tareaestadotipo' || itemNav == 'Tercero' ? 'active pcoded-trigger' : ''}" sec:authorize="hasAuthority('ADMIN')">
			<a class="nav-item collapsed" href="#submenu-parametrizacion" data-toggle="collapse" data-target="#submenu-parametrizacion">
				<span class="pcoded-micon"><i class="fas fa-cogs"></i></span><span class="pcoded-mtext">Parametrización</span>
			</a>

			<ul class="pcoded-submenu collapse cl-menu-group" id="submenu-parametrizacion" aria-expanded="false"  data-parent="#cl-menu-principal">

				<li class="nav-item" th:classappend="${ itemNav == 'Proyecto' ? 'active' : ''}">
					<a class="nav-link" href="/Proyecto/Filtro?clm=adpy" sec:authorize="hasAuthority('ADMIN')">
						<span class="pcoded-micon"><i class="far fa-folder-open"></i></span>
						<span>Proyectos</span>
					</a>
				</li>

				<li class="nav-item" th:classappend="${ itemNav == 'Presupuesto' ? 'active' : ''}">
					<a class="nav-link" href="/Presupuesto/Filtro?clm=adpr" sec:authorize="hasAuthority('ADMIN')">
						<span class="pcoded-micon"><i class="fas fa-file-invoice-dollar"></i></span>
						<span>Presupuesto</span>
					</a>
				</li>
				<li class="nav-item pcoded-hasmenu" th:classappend="${ itemNav == 'Estructuraorganizacional' ? 'active pcoded-trigger' : ''}">
					<a class="nav-link collapsed " href="#submenu-admin-estructura" data-toggle="collapse" data-target="#submenu-admin-estructura" sec:authorize="hasAuthority('ADMIN')">
						<span class="pcoded-micon"><i class="fas fa-building"></i></span>
						<span>Estructura Organizacional</span>
					</a>
					<ul class="pcoded-submenu collapse cl-submenu cl-menu-group" id="submenu-admin-estructura">
						<li class="" th:classappend="${ itemNav == 'Estructuraorganizacional' ? 'active' : ''}">
							<a class="nav-link" href="/Estructuraorganizacional/Filtro?clm=adpestr">
								<span class="pcoded-micon"><i class="far fa-id-card"></i></span>
								<span>Asignación Gerente</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item pcoded-hasmenu" th:classappend="${itemNav == 'Perfil' || itemNav == 'Perfiltipo' || itemNav == 'Perfilnivel' || itemNav == 'LineaProducto'
				|| itemNav == 'Perfilcosto'? 'active pcoded-trigger' : ''}">
					<a class="nav-link collapsed" href="#submenu-param-perfiles" data-toggle="collapse" data-target="#submenu-param-perfiles">
						<span class="pcoded-micon"><i class="far fa-address-book"></i></span><span class="pcoded-mtext">Perfiles</span>
					</a>
					<ul class="pcoded-submenu collapse cl-menu-group" id="submenu-param-perfiles">
						<li class="" th:classappend="${itemNav == 'Perfil' ? 'active' : ''}">
							<a href="/Perfil/Filtro?clm=papepe" class=""  >
								<span class="pcoded-micon"><i class="far fa-address-book"></i></span>
								<span>Perfil</span>
							</a>
						</li>
						<li class="" th:classappend="${itemNav == 'Perfiltipo' ? 'active' : ''}">
							<a class="" href="/Perfiltipo/Filtro?clm=papept">
								<span class="pcoded-micon"><i class="far fa-address-card"></i></span>
								<span>Tipo</span>
							</a>
						</li>
						<li class="" th:classappend="${itemNav == 'Perfilnivel' ? 'active' : ''}">
							<a class="" href="/Perfilnivel/Filtro?clm=papepn">
								<span class="pcoded-micon"><i class="fas fa-layer-group"></i></span>
								<span>Nivel</span>
							</a>
						</li>
						<li class="" th:classappend="${itemNav == 'LineaProducto' ? 'active' : ''}">
							<a class="" href="/Lineaproducto/Filtro?clm=papeli">
								<span class="pcoded-micon"><i class="fa fa-archive"></i></span>
								<span>Linea producto</span>
							</a>
						</li>
						<li class="" th:classappend="${itemNav == 'Perfilcosto' ? 'active' : ''}">
							<a class="" href="/Perfilcosto/Filtro?clm=pcosto">
								<span class="pcoded-micon"><i class="fa fa-archive"></i></span>
								<span>Perfil costo</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item pcoded-hasmenu" th:classappend="${itemNav == 'Tareatipo' || itemNav == 'Tareaestado' || itemNav == 'Tareaestadotipo' ? 'active pcoded-trigger' : ''}">
					<a class="nav-link collapsed" href="#submenu-param-tareas" data-toggle="collapse" data-target="#submenu-param-tareas">
						<span class="pcoded-micon"><i class="far fa-address-book"></i></span><span class="pcoded-mtext">Tareas</span>
					</a>
					<ul class="pcoded-submenu collapse cl-submenu cl-menu-group" id="submenu-param-tareas">
						<li class="" th:classappend="${itemNav == 'Tareatipo' ? 'active' : ''}">
							<a class="nav-link" href="/Tareatipo/Filtro?clm=papeti">
								<span class="pcoded-micon"><i class="fa fa-share-alt-square"></i></span>
								<span>Tipos</span>
							</a>
						</li>
						<li class="" th:classappend="${itemNav == 'Tareaestado' ? 'active' : ''}">
							<a class="nav-link" href="/Tareaestado/Filtro?clm=papees">
								<span class="pcoded-micon"><i class="fa fa-hourglass-start"></i></span>
								<span>Estados</span>
							</a>
						</li>
						<li class="" th:classappend="${itemNav == 'Tareaestadotipo' ? 'active' : ''}">
							<a class="nav-link collapsed text-truncate" href="/Tareaestadotipo/Filtro?clm=papett">
								<span class="pcoded-micon"><i class="fa fa-book"></i></span>
								<span>Tipos de estados</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="" th:classappend="${itemNav == 'Tercero' ? 'active' : ''}">
					<a class="nav-link" href="/Tercero/Filtro?clm=pate">
						<span class="pcoded-micon"><i class="far fa-building"></i></span>
						<span>Terceros</span>
					</a>
				</li>
				<li class="" th:classappend="${itemNav == 'HorasExtras' ? 'active' : ''}">
					<a class="nav-link" href="/HorasExtras/Filtro?clm=horaExtra">
						<span class="pcoded-micon"><i class="far fa-building"></i></span>
						<span>Horas Extras</span>
					</a>
				</li>
				<li class="" th:classappend="${itemNav == 'Cambios' ? 'active' : ''}">
					<a class="nav-link" href="/Cambios/Filtro?clm=cambios">
						<span class="pcoded-micon"><i class="fa fa-window-maximize"></i></span>
						<span>Cambios</span>
					</a>
				</li>
			</ul>
		</li>


		<li class="nav-item pcoded-hasmenu cl-menu-group" sec:authorize="hasAuthority('ADMIN')" th:classappend="${ itemNav == 'Estimaciones' || itemNav == 'EstimacionesReporte' ? 'active' : '' }">
			<a class="nav-link collapsed " href="#submenu-marketing" data-toggle="collapse" data-target="#submenu-marketing">
				<span class="pcoded-micon"><i class="fas fa-tasks"></i></span>
				<span class="pcoded-mtext">Reportes</span>
			</a>
			<ul class="pcoded-submenu collapse cl-menu-group" id="submenu-marketing" aria-expanded="false" data-parent="#cl-menu-principal">
				<li class="nav-item" th:classappend="${ itemNav == 'Estimaciones' ? 'active' : '' }">
					<a class="nav-link collapsed " href="/EstimacionesAdmin/Filtro?clm=stimacion">
						<span class="pcoded-micon"><i class="fas fa-calculator"></i></span>
						<span class="pcoded-mtext">Listado Estimaciones</span>
					</a>
				</li>

				<li class="nav-item" th:classappend="${ itemNav == 'EstimacionesReporte' ? 'active' : ''}">
					<a class="nav-link collapsed " href="/EstimacionesAdmin/Reporte?clm=EstimacionesReporte">
						<span class="pcoded-micon"><i class="fas fa-chart-line"></i></span>
						<span class="pcoded-mtext">Reporte</span>
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link collapsed " href="/EstimacionesAdmin/Monitoreo?clm=Monitoreo">
						<span class="pcoded-micon"><i class="fas fa-chart-line"></i></span>
						<span class="pcoded-mtext">Monitoreo</span>
					</a>
				</li>
			</ul>
		</li>

		<li class="nav-item pcoded-hasmenu cl-menu-group" sec:authorize="hasAuthority('ADMIN') OR hasAuthority('ALIADO')"
			th:classappend="${itemNav == 'Proveedor' || itemNav == 'Persona' || itemNav == 'Empleado' || itemNav == 'Fabrica' || itemNav == 'Novedad' || itemNav == 'HallazgoRespuesta' ? 'active pcoded-trigger' : ''}">
			<a class="nav-item collapsed" href="#submenu-admin" data-toggle="collapse" data-target="#submenu-admin">
				<span class="pcoded-micon"><i class="fa fa-table"></i></span>
				<span class="pcoded-mtext">Administración</span>
			</a>

			<ul class="pcoded-submenu collapse cl-menu-group" id="submenu-admin" aria-expanded="false" data-parent="#submenu-admin">
				<li class="nav-item" th:classappend="${ itemNav == 'Proveedor' ? 'active' : ''}">
					<a class="nav-link" href="/Proveedor/Filtro?clm=adpv" sec:authorize="hasAuthority('ADMIN')">
						<span class="pcoded-micon"><i class="fas fa-truck"></i></span>
						<span>Proveedores</span>
					</a>
				</li>
				<li class="nav-item pcoded-hasmenu collapsed" th:classappend="${ itemNav == 'Persona' || itemNav == 'Empleado' ? 'active pcoded-trigger' : ''}">
					<a class="nav-link collapsed " href="#submenu-admin-persona" data-toggle="collapse" data-target="#submenu-admin-persona" sec:authorize="hasAuthority('ADMIN') || hasAuthority('ALIADO')">
						<span class="pcoded-micon"><i class="fas fa-users"></i></span>
						<span>Personas</span>
					</a>

					<ul class="pcoded-submenu collapse cl-submenu cl-menu-group" id="submenu-admin-persona">
						<li class="" th:classappend="${ itemNav == 'Persona' ? 'active' : ''}">
							<a class="nav-link" href="/Persona/Filtro?clm=adpsdb">
								<span class="pcoded-micon"><i class="far fa-id-card"></i></span>
								<span>Datos básicos</span>
							</a>
						</li>
						<li class="" th:classappend="${ itemNav == 'Empleado' ? 'active' : ''}">
							<a class="nav-link" href="/Empleado/Filtro?clm=adpsvi" sec:authorize="hasAuthority('ADMIN')">
								<span class="pcoded-micon"><i class="far fa-file-alt"></i></span>
								<span>Vinculación</span>
							</a>
						</li>
						<li class="" th:classappend="${ itemNav == 'Empleado' ? 'active' : ''}">
							<a class="nav-link" href="/Empleado/FiltroPorRol/12" sec:authorize="hasAuthority('ALIADO')">
								<span class="pcoded-micon"><i class="far fa-file-alt"></i></span>
								<span>Vinculación</span>
							</a>
						</li>
					</ul>
				</li>

				<li class="nav-item pcoded-hasmenu" th:classappend="${ itemNav == 'Fabrica' ? 'active pcoded-trigger' : ''}">
					<a class="nav-link collapsed " href="#submenu-admin-compromisos" data-toggle="collapse" data-target="#submenu-admin-compromisos" sec:authorize="hasAuthority('ADMIN')">
						<span class="pcoded-micon"><i class="fas fa-clipboard-check"></i></span>
						<span>Compromisos Fábrica</span>
					</a>
					<ul class="pcoded-submenu collapse cl-submenu cl-menu-group" id="submenu-admin-compromisos">
						<li class="" th:classappend="${ itemNav == 'Fabrica' ? 'active' : ''}">
							<a class="nav-link" href="/Fabrica/Filtro?clm=adgcf">
								<span class="pcoded-micon"><i class="fas fa-tasks"></i></span>
								<span>Gestionar Compromisos Fábrica</span>
							</a>
						</li>
					</ul>
				</li>

				<li class="nav-item" th:classappend="${ itemNav == 'Novedad' ? 'active' : ''}">
					<a class="nav-link" href="/Novedad/Filtro?clm=adn" sec:authorize="hasAuthority('ADMIN') || hasAuthority('ALIADO')">
						<span class="pcoded-micon"><i class="fas fa-clipboard-check"></i></span>
						<span>Novedades</span>
					</a>
				</li>
				<li class="nav-item" th:classappend="${ itemNav == 'HallazgoRespuesta' ? 'active' : ''}">
					<a class="nav-link" href="/HallazgoRespuesta/Filtro?clm=adh" sec:authorize="hasAuthority('ADMIN')">
						<span class="pcoded-micon"><i class="fas fa-search-location"></i></span>
						<span>Hallazgos</span>
					</a>
				</li>
			</ul>
		</li>

		<li class="nav-item pcoded-hasmenu cl-menu-group" sec:authorize="hasAuthority('ADMIN') || hasAuthority('ALIADO')" th:classappend="${ itemNav == 'Seguimiento' ? 'active pcoded-trigger' : ''}">
			<a class="nav-link collapsed " href="#submenu-seguimiento" data-toggle="collapse" data-target="#submenu-seguimiento">
				<span class="pcoded-micon"><i class="fas fa-tasks"></i></span>
				<span class="pcoded-mtext">Seguimiento</span>
			</a>
			<ul class="pcoded-submenu collapse cl-menu-group" id="submenu-seguimiento" aria-expanded="false" data-parent="#cl-menu-principal">
				<li class="nav-item" th:classappend="${ itemNav == 'Seguimiento' ? 'active' : ''}">
					<a class="nav-link py-0" href="/Seguimiento/Gantt?clm=segt">
						<span class="pcoded-micon"><i class="fas fa-stream"></i></span>
						<span>Gantt</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="nav-item" sec:authorize="isAuthenticated()" th:classappend="${ itemNav == 'Empleado/Tareas' ? 'active' : ''}">
			<a class="nav-link collapsed " href="/Empleado/Tareas?clm=acfi">
				<span class="pcoded-micon"><i class="far fa-clock"></i></span>
				<span class="pcoded-mtext">Actividades</span>
			</a>
		</li>
		<li class="nav-item" sec:authorize="hasAuthority('ADMIN')" th:classappend="${ itemNav == 'Reportes' ? 'active' : ''}">
			<a class="nav-link collapsed " href="/Reportes?clm=re">
				<span class="pcoded-micon"><i class="fas fa-chart-line"></i></span>
				<span class="pcoded-mtext">Informes</span>
			</a>
		</li>
		<li class="nav-item" sec:authorize="hasAuthority('ADMIN') || hasAuthority('ALIADO')" th:classappend="${ itemNav == 'ReportesGenericos' ? 'active' : ''}">
			<a class="nav-link collapsed " href="/ReportesGenericos?clm=reg">
				<span class="pcoded-micon"><i class="far fa-file-code"></i></span>
				<span class="pcoded-mtext">Informes Genéricos</span>
			</a>
		</li>
	</ul>
</div>
</body>
</html>