<!DOCTYPE html>
<html layout:decorate="~{Layout}">
<head>
    <title>Empleados</title>
</head>
<body>
<th:block layout:fragment="estilos">
    <link href="/Complementos/DataTables/datatables.min.css" rel="stylesheet"/>
    <link href="/Estilos/passtrength.css" rel="stylesheet" type="text/css"/>
</th:block>
<th:block layout:fragment="scripts">
    <script type="text/javascript" src="/Complementos/DataTables/datatables.min.js" rel="stylesheet"></script>
    <script type="text/javascript" src="/Scripts/cl-tablas.js"></script>
    <script type="text/javascript" src="/Complementos/passtrength/jquery.passtrength.min.js"></script>
    <script type="text/javascript" src="/Scripts/FiltroEmpleado.js"></script>

</th:block>


<div layout:fragment="content">
    <div class="table-responsive">
        <table class="table table-striped table-sm table-bordered table-hover cl-tabla">
            <thead class="thead-light text-center">
            <tr>
                <th>Ver</th>
                <th>Proveedor</th>
                <th>No. documento</th>
                <th>Nombre</th>
                <th>Perfil</th>
                <th>Tipo</th>
                <th>Nivel</th>
                <th>Línea producto</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Usuario</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${modelo}">
                <td align="center">
                    <a href="#" th:attr="href='/Empleado/Editar/'+${item.codempleado}"
                       class="btn btn-warning">Editar</a>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalChancePassword"
                            th:data-usuario="${item.usuarioclaro}">
                        Cambio Contraseña
                    </button>
                </td>
                <td><span th:text="${item.proveedor}"></span></td>
                <td>
                    <span th:text="${item.numerodocumento}"></span>
                </td>
                <td><span th:text="${item.nombre}"></span></td>
                <td><span th:text="${item.perfil}"></span></td>
                <td><span th:text="${item.perfiltipo}"></span></td>
                <td><span th:text="${item.perfilnivel}"></span></td>
                <td><span th:text="${item.lineaproducto}"></span></td>
                <td><span th:text="${#dates.format(item.fechainicio, 'dd/MM/yyyy')}"></span></td>
                <td><span th:text="${#dates.format(item.fechafin, 'dd/MM/yyyy')}"></span></td>
                <td><span th:text="${item.usuarioclaro}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="modalChancePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cambio Contraseña</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formChancePassword">
                        <div class="form-group">
                            <label for="passwordvalue" class="col-form-label">Password</label>
                            <input type="password" id="passwordvalue" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="passwordconfirm" class="col-form-label">Confirmacion password</label>
                            <input type="password" id="passwordconfirm" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <span id="mensaje" class="d-none alert alert-danger w-100"></span>
                        </div>
                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnGuardar">Guardar Contraseña</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>